body {
    font-family: 'Kantumruy Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

.my-blog {
    display: flex;

    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    padding-left: 5%;
    padding-top: 5px;
}

.sabbir {
    color: orange;
}

h1 {
    font-size: 45px;
}


.my-protfolio {

    margin-left: 20px;
}

.link {
    text-decoration: none;
    background: linear-gradient(to right, orange, tomato);
    padding: 10px 40px;
    border-radius: 4px;
    color: white;
    font-weight: 900;
}

.img-2 {
    width: 500px;
    margin-left: 200px;
}

.para {
    width: 500px;
}

.my-blog-2 {
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big {
    width: 500px;
    margin-left: 30px;

}

.present {
    color: orange;
}

.my-blog-3 {
    display: flex;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 1px;
    padding: 10px;

}

.full-stack {
    width: 600px;
    margin-left: 40px;
    height: 400px;
    box-shadow: ;
    border-left: 5px solid orange;
    padding: 20px;
    box-shadow: 20px 20px 16px 20px #ddd;
}

.baby-web {
    width: 600px;
    height: 400px;
    padding: 20px;
    margin-left: 30px;
    box-shadow: 20px 20px 16px 20px #ddd;
    border-left: 5px solid blue;
}

.footer-name {
    text-align: center;
    margin-top: 100px;
}